{% extends 'base.html' %}

{% block header %}
  {% block title %}Вход{% endblock %}
{% endblock %}

{% block content %}
  <form method="post"> 
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" placeholder="Логин" name="username" id="username" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Пароль" name="password" id="password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <!-- <button class="button is-success">
          Login
        </button> -->
        <input class="button is-success" type="submit" value="Вход">
      </p>
    </div>
</form>
{% endblock %}