{% extends 'base.html' %}

{% block header %}
{% block title %}Связаться с вебмастером сайта ({{ site.domain }}){% endblock %}
{% endblock %}

{% block content %}
<div class="notification is-primary is-light">
  <h3>Доступные поля таблицы</h3>
  <hr>
  {% for key in site.keys() %}
  <span class="tag is-white">{{key}}</span>
  {% endfor %}
</div>
<h2 class="is-size-4">Вся доступная информация о домене</h2>
<span class="tag">Whois</span>
<span class="tag">Seo</span>
<span class="tag">Информация о вебмастере и остальных его сайтов</span>
<span class="tag">Последние полученные</span>
<span class="tag">Последние отправленные</span>
<hr>
<h2 class="is-size-4">Форма контакта, в зависимости от выбранного поля</h2>

<div id="app">
  <div class="input-field">
    <label>Выбор способа связи</label>
    <select v-model="selected">
       <option v-for="contact in contacts" v-bind:value="contact" value="">
           [[ contact ]]
      </option>
    </select>
  </div>
  <button @click="contact_now">Зафиксировать контакт</button>
</div>

<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: function () {
        return {
          contacts: [ 
            {%- for contact in contacts -%}"{{contact.1}}",{%- endfor -%}
          ],
          selected: ""
        }
    },
    methods: {
      contact_now: function () {
        console.log(this.selected)
      }
    }
})
</script>

{% endblock %}