{% extends 'base.html' %}

{% block header %}
{% block title %}Связаться с вебмастером сайта ({{ site.domain }}){% endblock %}
{% endblock %}

{% block content %}
<div class="notification is-primary is-light">
  <h3>Доступные поля таблицы</h3>
  <hr>
  {% for key in site.keys() %}
  <span class="tag is-white">{{key}}</span>
  {% endfor %}
</div>
<h2 class="is-size-4">Вся доступная информация о домене</h2>
<span class="tag">Whois</span>
<span class="tag">Seo</span>
<span class="tag">Информация о вебмастере и остальных его сайтов</span>

<hr>

<form method="post">
  <div id="app">
    {%- if contact_history -%}
      <h3 class="is-size-5 mb-3">История контактов</h3> 
      <template>
        <b-table :data="data" :columns="columns" class="box"></b-table>
      </template>
    {%- endif -%}

    <h3 class="is-size-5 mb-3">Пример письма:</h3> 
    <div class="box" v-if="form_container !== 'mail'">
      <div class="content">
        <label class="label">Заголовок</label>
        <p>{{pattern.title}} ({{ site.domain }})</p>
        <label class="label">Текст письма</label>
        <p>{{pattern.body}} - {{ site.domain }}</p>
      </div>
    </div>

    <h2 class="is-size-4">Форма контакта</h2>

    <section class="my-3">
      <b-field>
        <b-select  name="contact_type" placeholder="Выбор способа" icon="id-card" v-model="selected" @change.native="onchange()">
            <optgroup label="Почта">
              <option v-for="contact in contacts" v-bind:value="[[contact.type + ':' + contact.contact]]" value="" v-if="contact.type === 'mail'">
                [[ contact.contact ]]
              </option>
            </optgroup>

            <optgroup label="Telegram">
              <option v-for="contact in contacts" v-bind:value="[[contact.type + ':' + contact.contact]]" value="" v-if="contact.type === 'telegram'">
                [[ contact.contact ]]
              </option>
            </optgroup>

            <optgroup label="Скайп">
              <option v-for="contact in contacts" v-bind:value="[[contact.type + ':' + contact.contact]]" value="" v-if="contact.type === 'skype'">
                [[ contact.contact ]]
              </option>
            </optgroup>

            <optgroup label="Ссылка">
              <option v-for="contact in contacts" v-bind:value="[[contact.type + ':' + contact.contact]]" value="" v-if="contact.type === 'link'">
                [[ contact.contact ]]
              </option>
            </optgroup>

            <optgroup label="Другое">
              <option v-for="contact in contacts" v-bind:value="[[contact.type + ':' + contact.contact]]" value="" v-if="contact.type === 'other'">
                [[ contact.contact ]]
              </option>
            </optgroup>

        </b-select>
      </b-field>
    </section>

    <div class="box" v-show="form_container === 'mail'">
      <div class="field">
        <label class="label">Заголовок</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Тема письма" name="mail_title" value="{{pattern.title}} ({{ site.domain }})">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      
      <div class="field">
        <label class="label">Текст письма</label>
        <div class="control">
          <textarea class="textarea" placeholder="Текст письма" rows="10" name="mail_text">{{pattern.body}} - {{ site.domain }}</textarea>
        </div>
      </div>
    </div>

    <div class="field is-grouped my-3" v-if="selected">
      <div class="control">
        <button class="button is-success" @click="contact_now" type="submit">Зафиксировать контакт</button>
      </div>
    </div>
    
  </div>
</form>

{% if mails %}
<h2 class="is-size-3 mb-5 has-text-centered">Переписка</h2>
<div class="box">
    {% for mail in mails %}
        <article class="media columns is-mobile">
          <div class="media-content column is-10 {% if mail.mail_box == 'SEND' %}is-offset-2{% endif %}">
            <div class="content">

                <div class="tags has-addons mb-1 is-justify-content-flex-end">
                  <span class="tag is-info"><i class="fas fa-calendar-alt mr-1"></i>{{ mail.mail_date | strftime }}</span>
                    {% if mail.mail_box == 'INBOX' and mail.status == 0 %}
                      <b-tooltip class="tag is-success" label="New mails" type="is-dark" size="is-small">
                        <a href="{{ url_for('mails.mail', id=mail.id) }}" class="has-text-white"><i class="fas fa-reply mr-1"></i>NEW</a>
                      </b-tooltip>
                    {% endif %}
                </div>

                <strong>{{mail.subject}}</strong> <small>{{mail.from_name}}</small> - <small>{{mail.to_name}}</small>        
                <p>
                  {{mail.body}}
                </p>
            </div>
          </div>
        </article>
    {% endfor %}
</div>
{% endif %}

<script>
  const app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: function () {
      this.$buefy.config.setOptions({defaultIconPack: 'fas'});
      return {
        contacts: [ 
          {%- for contact in contacts -%}{type: "{{contact.0}}", contact: "{{contact.1}}"},{%- endfor -%}
        ],
        selected: "",
        form_container: false,
        data: [
          {% for contact in contact_history -%}{type: "{{ contact.contact_type }}", contact: "{{ contact.contact }}", text: `{{contact.contact_text}}`, date: "{{ contact.contact_date | strftime }}"},{%- endfor %}
        ],
        columns: [
          {
            field: 'type',
            label: 'Type',
          },
          {
            field: 'contact',
            label: 'Contact',
          },
          {
            field: 'text',
            label: 'Text',
          },
          {
            field: 'date',
            label: 'Date',
          },
        ]
      }
    },
    methods: {
      contact_now: function () {
        console.log(this.selected)
      },
      onchange: function() {
        this.form_container = this.selected[0][0].toLowerCase().split(':')[0];
        if (this.form_container === 'link' || this.form_container === 'other') {
          window.open('http://' + this.selected[0][0].split(':')[1],"_blank");
          window.focus()
        }
      }
    }
  });


</script>

{% endblock %}