{% extends 'base.html' %}

{% block header %}
{% block title %}Все сайты{% endblock %}
{% endblock %}

{% block content %}

{% if g.user %}
<div>
    <a class="button is-success" href="{{ url_for('sites.add_site') }}">Добавить сайт</a>
</div>
<hr>
{% endif %}

{% if sites %}

<div class="notification is-primary is-light">
    <h3>Доступные поля таблицы</h3>
    <hr>
    {% for title in sites[0].keys() %}
    <span class="tag is-white">{{ title }}</span>
    {% endfor %}
</div>

{% for test in test %}
{{ test[1] }}
{% endfor %}

<table class="table box" id="main-table">
    <thead>
        <tr>
            <th>Домен</th>
            <th>Вебмастер</th>
            <th>Категория</th>
            <th>SEO</th>
            <th>Whois</th>
            <th>Стоимость</th>
            <th>Дата публикации</th>
            <th>Дата контакта</th>
            {% if g.user %}
            <th>Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for site in sites %}
        <tr>

            <th>
                {{ site.domain }}
                {% if site.contact_form_link %}
                <a href="https://{{ site.contact_form_link }}" target="_blank">
                    <span class="icon">
                        <i class="fas fa-reply-all"></i>
                    </span>
                </a>
                {% endif %}
            </th>
            <th>
                {% if site.webmaster_name %}
                <a href="{{ url_for('webmasters.update', id=site.webmaster_id) }}">{{ site.webmaster_name }}</a>
            </th>
            {% else %}
            -
            {% endif %}
            <th>
                <a href="{{ url_for('categories.update', id=site[-2]) }}">{{ site.name }}</a> 
            </th>
            <th>
                {% if site.alexa_rank %}
                Alexa: {{ site.alexa_rank }}
                {% else %}
                -
                {% endif %}<br>

                {% if site.yandex_x %}
                Я.ИКС: {{ site.yandex_x }}
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.whois_data %}
                {{ site.whois_data }}
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.price %}
                {{ site.price }} $
                {% else %}
                -
                {% endif %}
            <th>
                {% if site.published %}
                <a href="https://{{ site.published_link }}">{{ site.published | strftime }}</a><br>
                    {% if site.last_check %}
                    <span class="tag is-info is-light">{{ site.last_check }}</span>
                    {% else %}
                    <span class="tag is-info is-danger">Не проверял</span>
                    {% endif %}
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.last_contact_date %}
                {{ site.last_contact_date }}
                {% else %}
                -
                {% endif %}
            </th>



            {% if g.user %}
            <th>
                {% if site.contact_form_link or site.webmaster_name %}
                    <a href="{{ url_for('sites.contact', id=site.id) }}" class="button is-warning">
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </a>
                {% endif %}
                <a href="{{ url_for('sites.update', id=site.id) }}" class="button is-primary is-light">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
            </th>
            {% endif %}
        </tr>
        
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#main-table').DataTable( {
            language: {
                emptyTable: "Нет данных для показа.",
                search: 'Поиск по таблице:',
                lengthMenu: "Показать _MENU_ элементов",
                info: "Показано _START_ до _END_ из _TOTAL_ элементов",
                paginate: {
                            first: "Первая",
                            last: "Последняя",
                            next: "Следующая",
                            previous: "Предыдущая"
                        },
            }
        });
    });
</script>
{% else %}
<h2>Не найдены</h2>
{% endif %}

{% endblock %}