{% extends 'base.html' %}

{% block header %}
{% block title %}Все сайты{% endblock %}
{% endblock %}

{% block content %}
<div id="app" class="container">
   <div class="field has-addons">
	<div class="control is-expanded">
		<input v-model="message" class="input" type="text" placeholder="Find a site">
	</div>
	<div class="control" href="">
		<a class="button is-info" :href="'?search=' + message">Search</a>
	</div>
    </div>
    <hr>
<div class="level">
    {% if g.user %}
    <div class="level-left">
        <a class="button is-success" href="{{ url_for('sites.add_site') }}">Добавить сайт</a>
    </div>
    {% endif %}
    <div class="level-right">
        <b-tooltip class="mr-1" label="New mails" type="is-dark" size="is-small">
		<a class="button is-success level-item" href="{{ url_for('sites.index') }}?status=new_mails"><i class="fas fa-reply"></i></a>
        </b-tooltip>
        <b-tooltip class="mr-1" label="Not contact yet" type="is-dark" size="is-small">
            <a class="button is-light level-item" href="{{ url_for('sites.index') }}?status=not_contact"><i class="fas fa-ellipsis-h"></i></a>
        </b-tooltip>
	<b-tooltip class="mr-1" label="Waiting for response type" type="is-dark" size="is-small">
            <a class="button is-warning level-item" href="{{ url_for('sites.index') }}?status=pending"><i class="fas fa-hourglass-half"></i></a>
        </b-tooltip>
        <b-tooltip class="mr-1" label="Can Publish" type="is-dark" size="is-small">
            <a class="button is-info level-item" href="{{ url_for('sites.index') }}?status=can_publish"><i class="fas fa-check-circle"></i></a>
        </b-tooltip>
        <b-tooltip class="mr-1" label="Waite publish" type="is-dark" size="is-small">
            <a class="button is-info is-success is-light level-item" href="{{ url_for('sites.index') }}?status=waite_publishing"><i class="fas fa-stopwatch"></i></a>
        </b-tooltip>
        <b-tooltip class="mr-1" label="Publish done" type="is-dark" size="is-small">
            <a class="button is-success level-item" href="{{ url_for('sites.index') }}?status=publishing"><i class="fas fa-check"></i></a>
        </b-tooltip>
        <b-tooltip class="mr-1" label="Bad conditions and not published" type="is-dark" size="is-small">
            <a class="button is-danger level-item" href="{{ url_for('sites.index') }}?status=bad_condition"><i class="fas fa-times-circle"></i></a>
        </b-tooltip>
    </div>
</div>

<hr>

{% if sites %}


<table class="table box" id="main-table">
    <thead>
        <tr>
            <th>Домен</th>
            <th>Вебмастер</th>
            <th>SEO</th>
            <th>Метрики</th>
            <th>Whois</th>
            <th>Стоим.</th>
            <th>Эфф.</th>
            <th>Дата публикации</th>
            <th>Дата контакта</th>
            {% if g.user %}
            <th>Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="is-size-7">

        {% for site in sites %}
        {% set similarweb, alexa, moz, yandex_x = 0,0,0,0 %}
        {% set ns = namespace() %}
        {% set ns.simular_source_search = 0 %}
        <tr class="{%- if site.last_contact_date.status == 'pending' -%}
                    has-background-warning-light
                   {%- elif site.last_contact_date.status == 'publishing' -%}
                    has-background-success-light
		   {%- elif site.last_contact_date.status == 'waite_publishing' -%}
		    has-background-warning-light
                   {%- elif site.last_contact_date.status == 'bad_condition' -%}
                    has-background-danger-light
                   {%- elif site.last_contact_date.status == 'not_publishing' -%}
                    has-background-danger-light
                   {%- endif -%}">

            <th style="max-width: 130px; overflow-wrap: break-word;">
                {{ site.domain }}
                {% if site.contact_form_link %}
                <a href="https://{{ site.contact_form_link }}" target="_blank">
                    <span class="icon">
                        <i class="fas fa-reply-all"></i>
                    </span>
                </a>
                {% endif %}
                <br>
                <a href="{{ url_for('categories.update', id=site.category_id) }}">{{ site.name }}</a><br>
                

            </th>
            <!-- <th style="max-width: 100px; overflow-wrap: break-word;">
                {% if site.seo_data.simularweb %}{{site.seo_data.simularweb.data.Category}}{% endif %}
            </th> -->
            <th style="max-width: 50px; overflow-wrap: break-word;">
                {% if site.webmaster_name %}
                <a href="{{ url_for('webmasters.update', id=site.webmaster_id) }}">{{ site.webmaster_name }}</a>
            </th>
            {% else %}
            -
            {% endif %}
            <th style="min-width: 130px; overflow-wrap: break-word;">
                {% if site.seo_data %}
                    <ul>                    
                        {% if site.seo_data.simularweb and site.seo_data.simularweb.data %}<li class="is-size-7">Simularweb GR: {{similarweb}}</li>{% endif %}
                        {% if site.seo_data.alexa and site.seo_data.alexa.data %}<li class="is-size-7">Alexa GR: {{alexa}}</li>{% endif %}
                        {% if site.seo_data.moz and site.seo_data.moz.data %}<li class="is-size-7">MOZ DA: {{site.seo_data.moz.data.da}}</li>{% endif %}
                        {% if site.seo_data.yandex_x and site.seo_data.yandex_x.data.quality%}<li class="is-size-7">Яндекс ИКС: {{site.seo_data.yandex_x.data.quality.achievements[-1].sqi}}</li>{% endif %}
                    </ul>
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                
                {% if site.seo_data.simularweb and site.seo_data.simularweb.data %}
                {{ (site.seo_data.simularweb.data.EngagementsSimilarweb.TotalLastMonthVisits / 30) | round | int }}
                ({{ site.seo_data.simularweb.data.EngagementsSimilarweb.BounceRate }})
                <br>
                {{ site.seo_data.simularweb.data.EngagementsSimilarweb.PageViews | round(2) }}
                {{ site.seo_data.simularweb.data.EngagementsSimilarweb.TimeOnSite }}
                <ul>
                    {% for source, value in (site.seo_data.simularweb.data.TrafficSources.items() | sort(attribute='1', reverse=true))[:3]  %}
                        <li class="is-size-7">- {{ source }} - {{ (site.seo_data.simularweb.data.TrafficSources[source]*100) | round | int}}%</li>
                        
                    {% endfor %}
                </ul>
                {% endif %}
            </th>
            <th style="max-width: 150px; overflow-wrap: break-word;">
                {% if site.whois_data %}
                    {%- if site.whois_data.create_date[0] -%}
                    <div class="has-addons">
                        <span class="tag is-warning is-light">{{ site.whois_data.create_date[0] | convert_to_date }}</span><span class="tag is-primary is-light">{{ site.whois_data.create_date[0] | get_date_diff }} д.</span>
                    </div>
                    {%- else -%}
                    -
                    {%- endif -%}
                    <br>    
                    </div>
                        {% for ns in (site.whois_data.name_servers | sort)[:2] %}
                            <span class="tag is-light">{{ ns }}</span>
                        {% endfor %}
                    <br>    
                    </div>
                    <br> 
                    <span>{{ site.whois_data.emails[0] }}</span>
                    
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.price %}
                    {{ site.price }} $
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.price and site.effective_count %}
		            {{ site.effective_count | round}}
                {% else %}
                -
                {% endif %}
            </th>
            <th>
                {% if site.published %}
                <a href="http://{{ site.published_link }}"><span class="tag mb-1 is-info is-light"><i class="fas fa-calendar-alt mr-1"></i>{{ site.published | strftime }}</span></a><br>
                    {% if site.last_check %}
                        <b-tooltip class="tag is-
                            {%- if site.last_check.status -%}success
                            {%- else -%}danger
                            {%- endif -%}" label="Last check {{ site.last_check.date | strftime }}" type="is-dark" size="is-small">
                            {% if site.last_check.status %}
                                <i class="fas fa-check-square"></i> Find
                            {% else %}
                                <i class="fas fa-ban"></i> Error
                            {% endif %}
                        </b-tooltip>
                    {% else %}
                        <b-tooltip class="tag is-warning" label="Not check post yet" type="is-dark" size="is-small">
                            <i class="fas fa-exclamation-triangle"></i> Dont check
                        </b-tooltip>
                    {% endif %}
                {% else %}
                -
                {% endif %}
            </th>
            <th id='notes_tooltip' style="max-width: 100px; overflow-wrap: break-word;">
                {%- if site.last_contact_date -%}
                    <span class="tag is-info is-light"><i class="fas fa-calendar-alt mr-1"></i>{{ site.last_contact_date.date | strftime  }}</span>
                {%- endif -%}

                <div class="control mt-1">
                    <div class="tags has-addons">
                    {%- if site.last_contact_date -%}
                        <b-tooltip label="{%- if site.last_contact_date.status == 'pending' -%}Waiting for response type
                                        {%- elif site.last_contact_date.status == 'bad_condition' -%}Bad conditions
                                        {%- elif site.last_contact_date.status == 'not_publishing' -%}Fail. Not published post
                                        {%- elif site.last_contact_date.status == 'publishing' and site.published -%}Publish done
                                        {%- elif site.last_contact_date.status == 'waite_publishing' -%}Waite publish
                                        {%- else -%}Can Publish
                                        {%- endif -%}"
                                    class="tag is-
                                        {%- if site.last_contact_date.status == 'pending' -%}warning
                                        {%- elif site.last_contact_date.status == 'bad_condition' -%}warning
                                        {%- elif site.last_contact_date.status == 'not_publishing' -%}danger
                                        {%- elif site.last_contact_date.status == 'publishing' and site.published -%}success
                                        {%- elif site.last_contact_date.status == 'waite_publishing' -%}success is-light
                                        {%- else -%}info
                                        {%- endif -%}"
                                    size="is-small">
                            {%- if site.last_contact_date.status == 'pending' -%}
                                <i class="fas fa-hourglass-half"></i>
                            {%- elif site.last_contact_date.status == 'bad_condition' -%}
                                <i class="fas fa-exclamation-triangle"></i>
                            {%- elif site.last_contact_date.status == 'not_publishing' -%}
                                <i class="fas fa-times-circle"></i>
			    {%- elif site.last_contact_date.status == 'waite_publishing' -%}
                                <i class="fas fa-stopwatch"></i>
		            {%- elif site.last_contact_date.status == 'publishing' and not site.published -%}
                                <i class="fas fa-check-circle"></i>
                            {%- else -%}
                                <i class="fas fa-check"></i>                    
                            {%- endif -%}
                        </b-tooltip>
                    {%- else -%}
                        <b-tooltip class="tag is-dark" label="Not contact yet" type="is-dark" size="is-small">
                            <i class="fas fa-ellipsis-h"></i>
                        </b-tooltip>
                    {%- endif -%}

                    {%- if site.notes -%}
                        <b-tooltip class="tag" type="is-info" size="is-small" :triggers="['click']" :auto-close="['outside', 'escape']">
                            <template v-slot:content>
                                {{ site.notes }} 
                            </template>
                            <span><i class="fas fa-info-circle"></i></span>
                        </b-tooltip>
                    {%- endif -%}
                    </div>
                </div>

                  <div class="control mt-1">
                    <div class="tags has-addons">
                        <span class="tag is-dark"><i class="fas fa-inbox mr-1"></i>{{ site.mail_count }}</span>
                            {% if site.new_mail_count %}
                            <b-tooltip class="tag is-success" label="New mails" type="is-dark" size="is-small">
                                <i class="fas fa-reply mr-1"></i>+{{ site.new_mail_count }}
                            </b-tooltip>
                            {% endif %}
                    </div>
                  </div>

                
            </th>
            {% if g.user %}
            <th style="min-width: 110px; overflow-wrap: break-word;">
                {% if site.contact_form_link or site.webmaster_name %}
                    <a href="{{ url_for('sites.contact', id=site.id) }}" class="tag is-warning">
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </a>
                {% endif %}
                <a href="{{ url_for('sites.update', id=site.id) }}" class="tag is-info">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
                <a href="{{ url_for('sites.delete', id=site.id) }}" class="tag is-danger" onclick="return confirm('Удалить сайт: {{ site.domain }}?')">
                    <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </a>
            </th>
            {% endif %}
        </tr>
        
        {% endfor %}
    </tbody>
</table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
	    <a class="pagination-next" href="{{ page.next_url }}" {%- if not page.next_url -%}disabled{%- endif -%}>Следующая</a>
	
        <a class="pagination-previous" href="{{ page.prev_url }}" {%- if not page.prev_url -%}disabled{%- endif -%}>Предыдущая</a>
        <ul class="pagination-list">
            {%- if page.first_url -%}
            <li><a class="pagination-link" href="{{page.first_url}}" aria-label="Goto page {{ page.first }}">{{ page.first }}</a></li>
            {%- if page.current - 3 > 0 -%}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
            {%- endif -%}
            
            {%- if page.prev_url -%}
            <li><a class="pagination-link" href="{{ page.prev_url }}" aria-label="Goto page {{ page.current - 1  }}">{{ page.current - 1  }}</a></li>
            {%- endif -%}

            <li><a class="pagination-link is-current" href="{{ page.current }}" aria-label="Page 46" aria-current="page">{{ page.current }}</a></li>
            
            {%- if page.next_url -%}
            <li><a class="pagination-link" href="{{ page.next_url }}"aria-label="Goto page {{ page.current + 1 }}">{{ page.current + 1 }}</a></li>
            {%- endif -%}
            
            {%- if page.last_url -%}
            {%- if page.current + 2 < page.last -%}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {%- endif -%}
            <li><a class="pagination-link" href="{{ page.last_url }}"  aria-label="Goto page {{ page.last }}">{{ page.last }}</a></li>
            {%- endif -%}
        </ul>
    </nav>
</div>
{% else %}
<h2>Not found</h2>
{% endif %}
<script>
    const app = new Vue(
	{
		data(){
			return {
			message: ''
			}
			},
		delimiters: ['[[', ']]']
		}
	);
    app.$mount('#app');
</script>

{% endblock %}
