{% block site_form %}

<div id="app">
    <form method="post" name="formid" id="formid">
        <section class="box">
            <div class="columns is-desktop">
                <div class="column">
            <b-field class="field">
                <b-input placeholder="URL"
                         name="url"
                         icon-pack="fas"
                         icon="link"
                         value="{{ request.form['url'] or site['domain'] }}">
                </b-input>
            </b-field>

            <b-field class="field">
                <b-input placeholder="Ссылка на форму контакта"
                         name="contact_form_link"
                         icon-pack="fas"
                         icon="share-square"
                         value="{{ request.form['contact_form_link'] or site['contact_form_link']}}">
                </b-input>
            </b-field>

            <section class="field">
                <b-autocomplete
                    v-model="category_name"
                    ref="autocomplete"
                    :data="filteredCategoriesArray"
                    :select-on-click-outside="selectOutside"
                    placeholder="Категория"
                    icon-pack="fas"
                    icon="grip-vertical"
                    name="category"
                    @select="option => selected = option">
                    <template #empty>Не найдено "[[category_name]]"</template>
                </b-autocomplete>
            </section>
            </div>

            <div class="column">
            <section class="field">
                <b-autocomplete
                    v-model="webmaster_name"
                    ref="autocomplete"
                    :data="filteredWebmastersArray"
                    :select-on-click-outside="selectOutside"
                    placeholder="Вебмастер"
                    icon-pack="fas"
                    icon="asterisk"
                    name="webmaster"
                    @select="option => selected = option">
                    <template #empty>Не найдено "[[webmaster_name]]"</template>
                </b-autocomplete>
            </section>

            <b-field class="field">
                <b-input placeholder="Стоимость размещения статьи"
                         name="price"
                         icon-pack="fas"
                         icon="dollar-sign"
                         value="{{ request.form['price'] or site['price'] }}">
                </b-input>
            </b-field>
            </div>
            </div>
        </section>
        <hr>

        <div class="columns is-desktop">

            <div class="column">
                <section class="mb-3">
                    <b-field>
                        <b-switch
                            v-model="contacted"
                            name="last_contact_status"
                            :native-value='true'
                            type="is-info">
                            Связь с вебмастером
                        </b-switch>
                    </b-field>

                    <section v-if="contacted" class="box">

                        <b-field label="Выбор даты контакта">
                            <b-datepicker
                                v-model="selected_contact_date"
                                name="contact_date"
                                placeholder="Дата cвязи с вебмастером..."
                                :date-formatter="dateFormatter"
                                icon-pack="fas"
                                icon="calendar-alt"
                                :icon-right="selected_contact_date ? 'close-circle' : ''"
                                icon-right-clickable
                                @icon-right-click="clearContactedDate()"
                                trap-focus>
                            </b-datepicker>
                        </b-field>

                        <b-field label="Статус контакта">
                            <b-select placeholder="Выберите статус" name="contact_status" v-model="default_contact_status">
                                <option
                                    v-for="option in contact_status"
                                    :value="option.id"
                                    :key="option.id">
                                [[ option.value ]]
                                </option>
                            </b-select>
                        </b-field>

                    </section>
                </section>
            </div>

            <div class="column">
                <section class="mb-3">
                    <b-field>
                        <b-switch
                            v-model="published"
                            name="published"
                            :native-value='true'
                            type="is-info">
                            Размещение
                        </b-switch>
                    </b-field>

                    <section v-if="published" class="box">

                        <b-field label="Выбор даты публикации">
                            <b-datepicker
                                v-model="selected_date"
                                name="published_date"
                                placeholder="Дата размещения..."
                                :date-formatter="dateFormatter"
                                icon-pack="fas"
                                icon="calendar-alt"
                                :icon-right="selected_date ? 'close-circle' : ''"
                                icon-right-clickable
                                @icon-right-click="clearPublishedDate()"
                                trap-focus>
                            </b-datepicker>
                        </b-field>

                        <b-field label="Страница размещения">
                            <b-input placeholder="Страница размещения"
                                     name="published_link"
                                     icon-pack="fas"
                                     icon="anchor"
                                     value="{%- if site['published_link'] != None-%}{{ request.form['published_link'] or site['published_link'] }}{%- endif -%}">
                            </b-input>
                        </b-field>
                    </section>
                </section>
            </div>
            {%- if site.webmaster_id -%}
            <div class="column">
                <b-field>
                    <b-switch
                        v-model="payed"
                        name="payment_status"
                        :native-value='true'
                        type="is-success">
                        Оплата</b-switch>
                </b-field>

                <section v-if="payed" class="box">
                    <b-field label="Реквизиты для оплаты">
                        <b-dropdown
                            v-model="paymentSelect"
                            aria-role="list">

                            <template #trigger>
                                <b-button
                                    :label="paymentSelect.value"
                                    type="is-primary"
                                    icon-pack="fas"
                                    icon-right="sort-down">
                                </b-button>
                            </template>

                            <b-dropdown-item
                                v-for="(payment, index) in payments"
                                :key="index"
                                :value="payment"
                                aria-role="listitem">
                                <div class="media">
                                    <b-icon pack="fas" class="media-left" icon="money-check-alt"></b-icon>
                                    <div class="media-content">
                                        <h3>[[payment.value]]</h3>
                                        <small>[[payment.key]]</small>
                                    </div>
                                </div>
                            </b-dropdown-item>

                        </b-dropdown>
                        <b-input type="hidden" placeholder="Способ оплаты" name="payment_type" :value="paymentSelect.value"></b-input>
                        <b-input type="hidden" placeholder="Номер кошелека" name="payment_address" :value="paymentSelect.key"></b-input>
                        <b-input type="number" step=0.01 placeholder="0,00" name="payment_count"></b-input>

                    </b-field>
                    <a href={{url_for('webmasters.update', id=site.webmaster_id)}}><small>Add new</small></a>
                    <hr>
                    {%- for payment in site.transactions-%}
                    <p>[{{ payment.payment_date | strftime }}] {{payment.payment_type}} (<small>{{payment.payment_address}}</small>) ${{payment.payment_count}}</p>
                    {%- endfor -%}
                </section>
            </div>
            {%- endif -%}
        </div>
        <hr>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Заметки о сайте" name="notes" id="notes">{{ request.form['notes'] or site['notes']}}</textarea>
            </div>
        </div>

        <div class="field">
            <p class="control">
            <input class="button is-success" type="submit" value="Изменить">
            </p>
        </div>

    </form>
</div>

<script>
    var input = document.createElement('input');//prepare a new input DOM element
    input.setAttribute('name', 'referer');//set the param name
    input.setAttribute('value', document.referrer);//set the value
    input.setAttribute('type', 'hidden')//set the type, like "hidden" or other
    document.forms.formid.appendChild(input);//append the input to the form

    const example = {
            data() {
                    return {
                            categories: [
                                    {%- for category in categories  -%}
                                    "{{category.name}}",
                                    {%- endfor -%}],
                            category_name: "{{ request.form['category'] or site['name']}}",
                            webmasters: [
                                    {%- for webmaster in webmasters  -%}
                                    "{{webmaster.webmaster_name}}",
                                    {%- endfor -%}],
                            webmaster_name: "{%- if request.form['webmaster'] or site['webmaster_name'] -%}{{ request.form['webmaster'] or site['webmaster_name'] }}{%- endif -%}",
                            selected: null,
                            selectOutside: false,
                            published: {%- if site.published -%}true{%- else -%}false{%- endif -%},
                            selected_date: new Date({%- if site.published -%}{{ site.published }} * 1000{%- else -%}{%- endif -%}),
                            published_link: "",
                            contacted: {%- if site.last_contact_date -%}true{%- else -%}false{%- endif -%},
                            selected_contact_date: new Date({%- if site.last_contact_date -%}{{ site.last_contact_date['date'] }} * 1000{%- else -%}{%- endif -%}),
                            default_contact_status: {%- if site.last_contact_date.status -%}'{{site.last_contact_date.status}}'{%- else -%}null{%- endif -%},
                            contact_status: [
                                    {'id': 'pending', 'value': 'Ожидаю ответ'},
                                    {'id': 'waite_publishing', 'value': 'Ожидаю размещения'},
                                    {'id': 'publishing', 'value': 'Размещает'},
                                    {'id': 'bad_condition', 'value': 'Плохие условия'},
                                    {'id': 'not_publishing', 'value': 'Не размещает'},
                                ],
                            payed: {%-if site.transactions-%}true{%-else-%}false{%-endif-%},
                            paymentSelect: {'key': null, 'value': 'Выбор оплаты'},
                            payments: [
                                    {%-for element in site.payments-%}
                                    {'key':'{{element.payment}}', 'value':'{{element.payment_type}}'},   
                                    {%-endfor-%}
                                ],
                        }
                },
            computed: {
                    filteredCategoriesArray() {
                            return this.categories.filter((option) => {
                                    return option
                                        .toString()
                                        .toLowerCase()
                                        .indexOf(this.category_name.toLowerCase()) >= 0
                                })
                        },
                    filteredWebmastersArray() {
                            return this.webmasters.filter((option) => {
                                    return option
                                        .toString()
                                        .toLowerCase()
                                        .indexOf(this.webmaster_name.toLowerCase()) >= 0
                                })
                        }
                },
            delimiters: ["[[","]]"],
            methods: {
                    clearPublishedDate () {
                            this.selected_date = null
                        },
                    clearContactedDate () {
                            this.selected_contact_date = null
                        },
                    dateFormatter(data){
                            return data.toLocaleDateString('en-GB', 'DD/MM/YYYY');
                        },
                }
        }

    const app = new Vue(example)
    app.$mount('#app')

</script>

{% endblock %}
