<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Webmaster Helper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">   
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bulma.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bulma.min.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>

    <style>
      .ui-menu {
        z-index: 9999!important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('index') }}">
            Главная
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Остальное
            </a>
    
            <div class="navbar-dropdown">
              <a href="{{ url_for('webmasters.index') }}" class="navbar-item">
                Веб-мастеры
              </a>
              <a href="{{ url_for('categories.index') }}" class="navbar-item">
                Категории
              </a>
              <a href="{{ url_for('mails.index') }}" class="navbar-item">
                Почта
              </a>
              <a href="{{ url_for('configs.index') }}" class="navbar-item">
                Настройки
              </a>
              <hr class="navbar-divider">
              <a href="{{ url_for('about_us') }}" class="navbar-item">
                О проекте
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if g.user %}

                
                <a class="button" href="{{ url_for('mails.index') }}">
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>
                    {{ g.user.user_name }}
                  </span>
                  <div class="ml-3 tags has-addons">
                    <span class="tag is-dark"><i class="fas fa-inbox mr-1"></i>{{ g.mails }}</span>
                    <span class="tag is-success"><i class="fas fa-reply mr-1"></i>{{ g.new_mails }}</span>
                  </div>
                </a>

                <a class="button is-danger" href="{{ url_for('auth.logout') }}">
                  <strong>Выход</strong>
                </a>
              {% else %}
                <a class="button is-primary" href="{{ url_for('auth.register') }}">
                  <strong>Регистрация</strong>
                </a>
                <a class="button is-light" href="{{ url_for('auth.login') }}">
                  Вход
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  <section class="section">
    <div class="container">
      <h1 class="title"> {% block header %}{% endblock %}</h1>
      
      {% for message in get_flashed_messages() %}
        <div class="notification">
          {{ message }}
        </div>
      {% endfor %}
      
      <div class="box">
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
  </body>
</html>