{% extends 'base.html' %}

{% block header %}
{% block title %}Почта{% endblock %}
{% endblock %}

{% block content %}
<table class="table box" id="main-table">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody class="is-size-7">

        {% for mail in mails %}
        <tr>
            <th>
                {{ mail.from_name }}
            </th>
            <th>
                {{ mail.to_name }}
            </th>
            <th>
                {{ mail.body[:200] }}...
            </th>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}